.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:50vh;
    margin: 0 auto;
    min-height:30vh;
    margin-top: 30vh;
    border-radius:40px;
    background-color: white;
}
.customInput{
    margin:5px;
    padding:5px;
    border-radius:5px;
    border-color:#e3efef;
}
body{
    background-color: red;
    background: linear-gradient(to left, white, #e3efef 50%, #f5f7f7 75%);
}

.customButton{
    padding:5px;
    margin-left:40px;
    margin-right:40px;
}

.customButton {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .customButton:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .customButton:focus {
    outline: none;
  }
  
  .customButton{
    background-image: linear-gradient(
      to right,
      #e3efef,
      #abdbe3,
      #abe1e3,
      #abd5e3
    );
    box-shadow: 0 4px 15px 0 #6b898e;
  }