table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ddd;
}

td {
  text-align: center;
  padding: 8px;
  width: 20%;
}
th {
  width: 3%;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customButton {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.customButton:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.customButton:focus {
  outline: none;
}

.customButton{
  background-image: linear-gradient(
    to right,
    #e3efef,
    #abdbe3,
    #abe1e3,
    #abd5e3
  );
  box-shadow: 0 4px 15px 0 #6b898e;
}
